
<div>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>

<div class="App">
    <form [formGroup]="tokenForm" (submit)="submitToken()">
      <input type="text" placeholder="Enter token" formControlName="token" />
      <button type="submit">Submit</button>
    </form>
  </div>

<div *ngFor="let message of messageList">
    <li>
        {{message}}
    </li>  
</div>

<input [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" />
<button (click)="sendMessage()">Send Message</button>


